/* Navbar.css */
.navbar {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  left: 0;
  height: 60px; /* Altura fija para el navbar */
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  z-index: 10;
}


.navbar-items {
  display: flex;
  gap: 20px;
  align-items: center; /* Alineamos los elementos verticalmente */
  margin-right: 20px; /* Añadimos un margen a la derecha para separar los botones */
}

.navbar-link {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  display: flex;
  align-items: center;
}

.navbar-link i {
  margin-right: 5px;
}

.navbar-link:hover {
  color: #8be9fd; /* Color al pasar el mouse */
}

.navbar-buttons {
  display: flex;
  gap: 10px;
}

/* Botón de Buy Me a Coffee */
.coffee-button {
  padding: 8px 15px;
  font-size: 18px;
  color: #fff;
  background-color: #8be9fd; /* Color del botón de Buy Me a Coffee */
  border: none;
  border-radius: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: background-color 0.3s, transform 0.3s;
  text-decoration: none;
}

.coffee-button:hover {
  background-color: #ff79c6; /* Color de hover para el botón de Buy Me a Coffee */
  transform: scale(1.05);
}

/* Botón de "Star on GitHub" */
.github-star-button {
  display: flex;
  align-items: center;
  padding: 8px 12px;
  background-color: #333; /* Fondo oscuro para el botón de GitHub */
  color: #fff;
  border: none;
  border-radius: 8px; /* Bordes redondeados */
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s, transform 0.3s;
  font-size: 16px;
}

.github-star-button:hover {
  background-color: #444d56; /* Color de hover */
  transform: scale(1.05);
}

.github-icon {
  width: 16px; /* Tamaño ajustado del ícono */
  height: 16px;
  margin-right: 5px; /* Espacio entre el ícono y el texto */
  fill: currentColor; /* Color actual del texto */
}

.star-count {
  margin-left: 5px;
  color: #ffffff; /* Color blanco para el contador de estrellas */
  font-weight: bold; /* Negrita para el contador de estrellas */
}
